@import '../node_modules/normalize.css/normalize';

$item-background-color: #bada55;

body {
    background-color: #fee;
}

* {
    box-sizing: border-box;
}

.wrapper {
    background-color: #fff;
    margin: 0 auto;
    padding: 25px;
    width: 960px;
    overflow: auto;
}

input {
    &[type="text"],
    &[type="date"] {
        height: 40px;
    }

    &[type="checkbox"] {
        float: left;
        margin-right: 10px;
    }
}

.title {
    width: 500px;
}

.title,
.date,
.submitbutton {
    display: block;
    float: left;
}

.date {
    margin: 0 63px;
}

button {
    height: 40px;
}

.list-items {
    clear: left;
    list-style: none;
    padding: 0;
    float: left;
    width: 100%;

    li {
        background-color: $item-background-color;
        color: #fff;
        margin: 10px 0;
        padding: 10px;
    }

    .done {
        background-color: lighten($item-background-color, 25%);
        text-decoration: line-through;
    }
}

.item-date {
    float: right;
}

.remove-button {
    float: right;
    height: 20px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
}

@media (max-width: 960px) {
    .wrapper {
        width: 100%;
    }

    .title {
        width: 100%;
    }

    .date,
    .submitbutton {
        margin: 20px 0 0;
        width: calc(50% - 10px);
    }

    .date {
        margin-right: 20px;
    }
}
